---
import Base from '../layouts/Base.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Hero from '../components/Hero.astro';
import ProofBar from '../components/ProofBar.astro';
import Problem from '../components/Problem.astro';
import DynamicLists from '../components/DynamicLists.astro';
import HowAIWorks from '../components/HowAIWorks.astro';
import ThreeModules from '../components/ThreeModules.astro';
import VirtualSpecialists from '../components/VirtualSpecialists.astro';
import MultiCompany from '../components/MultiCompany.astro';
import Security from '../components/Security.astro';
import Applications from '../components/Applications.astro';
import CtaBand from '../components/CtaBand.astro';
import LeadSection from '../components/LeadSection.astro';
import SiteFAQ from '../components/SiteFAQ.astro';
import SiteFooter from '../components/SiteFooter.astro';
---
<Base>
  <SiteHeader />
  <main>
    <Hero />
    <ProofBar />
    <Problem />
    <DynamicLists />
    <HowAIWorks />
    <ThreeModules />
    <VirtualSpecialists />
    <MultiCompany />
    <Security />
    <Applications />
    <CtaBand />
    <LeadSection />
    <SiteFAQ />
  </main>
  <SiteFooter />
</Base>
